<div class="showroomButtonContainer">
  <h3>Filter:</h3>
  <ul class="showroomButtonUl">
    <li><%= link_to 'Artists', action: 'artists', type_of: 'artist' %></li>
    <li><%= link_to 'Signature Models', action: 'artists', type_of: 'instrument' %></li>
    <li><%= link_to 'Videos', action: 'artists', type_of: 'video' %></li>
    <li><%= link_to 'All', action: 'artists' %></li>
  </ul>
</div>
  </div>