<div id="contact">
<h2>Becker Martin Instruments</h2>
<p>Call us</p>
<h2>508-222-9800</h2>
  <p>44A Union St <br />
  Attleboro, MA 
  02703</p>


  <div id="gmap"><iframe width="325" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44A+Union+St+Attleboro,+MA+02703&amp;aq=&amp;sll=41.855242,-71.334229&amp;sspn=0.74465,1.454315&amp;ie=UTF8&amp;hq=&amp;hnear=44+Union+St,+Attleboro,+Massachusetts+02703&amp;t=h&amp;ll=41.996243,-71.174927&amp;spn=1.224733,1.779785&amp;z=8&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44A+Union+St+Attleboro,+MA+02703&amp;aq=&amp;sll=41.855242,-71.334229&amp;sspn=0.74465,1.454315&amp;ie=UTF8&amp;hq=&amp;hnear=44+Union+St,+Attleboro,+Massachusetts+02703&amp;t=h&amp;ll=41.996243,-71.174927&amp;spn=1.224733,1.779785&amp;z=8" style="color:#0000FF;text-align:left">Goto Google Maps</a></small></div><!-- gmap -->
  
</div> <!-- contact -->