<div id="cartbox1new">
    <p><span style="text-decoration: blink;">add to cart?</span></p>
    <h2><%= link_to 'CLICK HERE', controller: 'store', action:'build', id: @product.id %></h2>
</div> <!-- sidebox1-->