<% type_of = @type_of || 'instrument' %>
<p><span style="text-decoration: blink;">Wanna build your own <%= type_of %> ?</span></p>
<h2><%= link_to 'START HERE', controller: 'store', action: 'new', instrument: @type_of %></h2>
<p>Let us walk you thru the steps</p>
<p>You make ALL the decisions</p>
