  <%= render 'layouts/main_navbar' %>
<div id="page">

  <div id="repair">
    <%= render 'contact' %>
    <h1>About Us</h1>
    <div id="larger"><%= image_tag "webphotos/becker_backstage.jpg" %></div>
    <p>Becker Guitars started as a basement repair shop in 1996. As the
    business grew, so did our collective interest in producing our own line of high-quality and unique custom instruments. In 2006, we added master luthier and moped aficionado Ryan Martin to our crew and began prototyping and building guitars. We soon outgrew our shop in Stoughton, MA and moved to a fully functional shop in Attleboro, MA. In fall of 2007, we held a booth at the Premier Guitar Festival where we unveiled some of our first designs to th public. The show was a great success, and we have been developing and refining our designs ever since. We are devoted to creating unique designs that combine superior woodworking techniques, fine and exotic tonewoods, high-quality components, and dazzling finishes. We take a tremendous amount of pride in the work we do and let the instruments speak for themselves. Welcome to ElectriCandyLand.
    </p>
  </div><!-- repair -->
</div> <!-- page -->