

  <h3>Welcome to the Becker Family of Guitars.</h3>
  <p2>
		Peruse our models.  Our website is designed so you may add custom effects to every shape and style that we offer.  All to give you the stunning guitar you seek with tone for days.  If you find yourself wanting something that is not offered here, please inquire.
	</p2>
	
	<div id="spinnerWrapper">
		<ul id="spinner">
		<% @products.each do |p| %>
				<h3><%= p.name %></h3>
        <li><%= link_to image_tag(p.image_url),{ action: "guitar", id: p.id}, class: "galleryImage"  %></li>
		<% end %> 
		</ul>
	</div>

