<div id="page">
	<div id="frame1">
		<div class="headerImage fixed">
			<%= image_tag("webphotos/greenHeadstock.png") %>
		</div>
		<div class="welcome">
			<h3 id="parallax1"><span class="welcomeGlow">Welcome to</span></h3>
			<h3 id="parallax2"><span class="welcomeGlow">Becker/Martin</span></h3>
			<h3 id="parallax3"><span class="welcomeGlow">Instruments</span></h3>
		</div>
	</div>
	<div id="frame2">
		<div class="frame2Line"></div>

		<div class="frame2Text">
			<h3>
				Instruments
			</h3>
			<p2 class="instrumentsText">
        Becker Guitars started as a basement repair shop in 1996. As the
        business grew, so did our collective interest in producing our own line of high-quality and unique custom instruments. In 2006, we added master luthier and moped aficionado Ryan Martin to our crew and began prototyping and building guitars. We soon outgrew our shop in Stoughton, MA and moved to a fully functional shop in Attleboro, MA. In fall of 2007, we held a booth at the Premier Guitar Festival where we unveiled some of our first designs to th public. The show was a great success, and we have been developing and refining our designs ever since. We are devoted to creating unique designs that combine superior woodworking techniques, fine and exotic tonewoods, high-quality components, and dazzling finishes. We take a tremendous amount of pride in the work we do and let the instruments speak for themselves. Welcome to ElectriCandyLand.
			</p2>
			<br />
			<br />			
			<div class="bigQuoteOpen"><p5>&ldquo;</p5></div>
					<p1>You do not merely want to be considered just the best of the best –
          you want to be the only ones who do what you do”</p1>
			<div class="bigQuoteClose"><p5>&rdquo;</p5></div>
		</div>	
			
			<div class="banjoIndex">
				<%= image_tag("webphotos/banjo1.jpg") %>
			</div>
	</div> <!-- Frame 2-->
	<div id="frame3">
		<div class="aboutContainer">
			<div class="aboutText">
				<h3>
					Custom
				</h3>
				<p2 class="aboutTextArticle">
          			In addition to our instrument lines, we also do fully custom work. Custom instruments are built to order and pricing will vary based on specifications. These orders have included lap steel guitars, banjos, mandolas, upright basses, and doubleneck mandolin and guitars. If interested in a project of this nature, please inquire or, build using one of the body types below.
				</p2>
			</div>
			<iframe 
				width="400" height="233"  
				src="http://www.youtube.com/embed/KO7YehUro38" 
				frameborder="0" 
				allowfullscreen>
			</iframe>
			<div class="shopImage">
				<%= image_tag("webphotos/shop1.jpg", class: "shop") %>
			</div>
		</div>	
	</div> <!-- Frame 3-->
	<div id="frame4">
		<%= image_tag("webphotos/guy1.jpg",:class=>'guy') %>
		
		<h3 class="other">
			Repair
		</h3>
		<p2 class="otherTextArticle">
Becker Guitars started in 1996 as a one man operation and has grown into an all start team of luthiers, techs, woodworkers, and finishers.  We specialize in the restorations of old Martins and other vintage insruments.  With our fully equipped repair shop, woodshop, humidity room and spraying area, we are prepared to take on all of your repair and restoration needs.			
		</p2>
		<!-- <h3 class="other thankYou">
			Thank you for visiting Becker Guitars!
		</h3> -->
	</div>
	
</div> <!-- page-->


<!-- 

-video from shop
-mention custom instrument repair/link to repair page
-history section

-->