<% if notice %>
  <p id="notice">
    <h2><%= notice %></h2>
  </p>
<% else %>
  <p><h2></h2></p>
<% end %>
<div>
<%= Time.now.to_formatted_s(:custom) %><br />
We have <%= pluralize(Order.count, "order") %>.</div>

