<form id="custom_build">
    <% @features.each do |feature| %>
        <h4 id="feature" value="1000"><%= feature.name %></h4>
        <% feature.name.gsub!(" ", "-") %>
        <%= render 'admins/options', feature: feature %>
      <% end %>
</form>