<form id="custom_build">
    <% @features.each do |feature| %>
        <h3 id="feature" value="1000"><%= feature.name %></h3>
        <% feature.name.gsub!(" ", "-") %>
        <%= render 'admins/options', feature: feature %>
      <% end %>
</form>