<ul id="fittext2" class="navUl">
	<li id="guitarNavClick" class="firstLi navLi">
		<h2>
    <%= link_to 'Sales Report', admin_path %>		</h2>
	</li>
	<li id="bassNavClick" class="navLi">
		<h2>
      <%= link_to 'Help Customers', help_path %>		</h2>
	</li>
	<li id="customNavClick" class="navLi">
		<h2>
      <%= link_to 'Website', woodshop_path %>		</h2>
  </li>
