<ul id="fittext2" class="navUl">
	<li id="guitarNavClick" class="firstLi navLi">
		<h2>
    <%= link_to 'Sales Report', :controller => 'admins', :action => 'index' %>		</h2>
	</li>
	<li id="bassNavClick" class="navLi">
		<h2>
      <%= link_to 'Help Customers', :controller => 'admins', :action => 'service' %>		</h2>
	</li>
	<li id="customNavClick" class="navLi">
		<h2>
      <%= link_to 'Website', :controller => 'admins', :action => 'woodshop' %>		</h2>
  </li>
	<li id="artistsNavClick" class="navLi">
		<h2>
      <%= link_to 'Profile', :controller => 'admins', :action => 'front'  %>		</h2>
	</li>