
  


<p><%= link_to 'Sales Report', orders_path %></p>
<p><%= link_to 'Help Customers', :action => 'service' %></p>
<p><%= link_to 'Woodshop', :action => 'woodshop' %></p>
<p><%= link_to 'Walkie Talkie', orders_path %></p>