
<ul>
  <li class="adminButtons">
    <p><%= link_to 'Artists', artists_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Customers', customers_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Orders',  orders_path %></p>
  </li>
</ul>