

<% if notice %>
<p id="notice"><%= notice %></p>
<% end  %>
<h3>Options At A Glance</h3>
<table>
 <tr>
   <th>Description</th>
   <th>Price</th>
   <th>Feature</th>
   <th>Instrument Categories</th>
   <th>Default</th>
   <th>Display</th>
   <th></th>
   <th></th>
   <th></th>
 </tr>

 <%= render :partial => 'option_list' %>
 
</table>
