
<div class="loop">
  <% @type_of.each do |t| %>
    <div class="showcase<%= t.capitalize %>">
      <h2 class="chooseInstrument">Step 2: Choose a Body Style</h2>

      <div class="spinner">
      <% @body_types.each do |bt| %>
      <% if bt.type_of == t %>
        <%  spinner = "spinner#{t.capitalize}" %>
          <li>
          	<h3><%= bt.name %></h3>
          	<%= link_to image_tag(bt.image_url),{ action: "themes" , id: bt.id }, remote: true %>	
          </li>
          <% end %>
        <% end %> 
      </div> 

    </div> <!-- showcase -->
  <% end %>
</div> <!-- loop -->



