  
<div id="store-page">

      <h1 class="instrument">Custom Build an Instrument</h1>

    <div class="closed_box">Theme: <%= @theme.name.capitalize %></div>
    <%= render 'showcase' %>
</div> <!-- store-page -->