<div id="cartHolder">
<div id="cart">
<h2 class="cart-title">Your Cart</h2>
<table>
  
  <%= render cart.line_items %>
  
  <tr class="total_line">
    <td colspan="4">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<% if (@order.nil?) %>
  <%= button_to 'Check Out Now', new_order_path, method: :get, id: cart.id  %>
<% end %>
</div><!-- cart -->
</div><!-- cartHolder -->



