<p id="notice"><%= notice %></p>
<h2>Thank You for ordering a Becker Instrument</h2>
<p>summary of order info for print to save for your records</p>
<p>you will be receiving this in an email to the address provided</p>
<%= link_to "Back to Main Site",  controller: 'main', action: 'index'  %>
