$orange: #DE6B3F;
$red: red;
$brightGreen: #1DDF00;
$darkBlue: #006BEA;
$lightBlue: #00FFEF;
$darkPink: #FF00F4;
$white: white;


div#store-page a {
	font-family: 'Ovo', serif;
	text-decoration: none;
}

#store-page {
	position: relative;
	width: 100%;
	height: auto;
	top: 0px;
	padding: 0;
		h, h1, h2, h3, h4 {
			font: {
				family: 'MenschMenschRegular';
				weight: normal;
				style: normal;
			}
			margin: 0;
			padding: 0;
			line-height: 1em;
	}
	p, p1, p2 {
		font: {
			family: 'Ovo', serif;
			weight: normal;
			style: normal;
		}
	}

	.tabs {
		margin-left: 20px;
		
		h1.storeHeader {
			position: fixed;
			top: 0;
			margin-top: 40px;
			color: 
				darken($darkBlue, 0%);
			font: {
				size: 4em;
				weight: normal;
			}
		}
		h2.chooseInstrument {
			position: absolute;
			font-size: 1.5em;
			color: white;
			top: 100px;
			padding: 18px 0 2px 5px;
			font-weight: normal;
			margin-left: 5px;
		}
		h2.chooseBodyType {
			position: absolute;
			font-size: 1.5em;
			color: white;
			top: 160px;
			display: none;
			padding: 18px 0 2px 5px;
			font-weight: normal;
			margin-left: 5px;
		}
		h2.chooseTheme {
			position: absolute;
			font-size: 1.5em;
			color: white;
			top: 230px;
			display: none;
			padding: 18px 0 2px 5px;
			font-weight: normal;
			margin-left: 5px;
		}
		h2.chooseOptions {
			position: absolute;
			font-size: 1.5em;
			color: white;
			top: 280px;
			display: none;
			padding: 18px 0 2px 5px;
			font-weight: normal;
			margin-left: 5px;
		}
		#cart_sidebarReceiver {
			position: absolute;
			font-size: 1.5em;
			color: gray;
			top: 280px;
			right : 100px;
			padding: 18px 0 2px 5px;
			font-weight: normal;
			margin-left: 5px;
		}
		ul.instrumentStart {
			position: absolute;
			top: 175px;
			margin: 0;
			padding: 0;
			li {
				display: vertical;
				list-style-type: none;
				padding-bottom: 20px;
				a {
					font: {
						family: 'MenschMenschRegular';
						size: 3em;
					}
					color: $darkBlue;
				}
				a:hover {
					color: $red;
				}
			}
		}
		ul.instrumentBody {
			position: absolute;
			top: 235px;
			margin: 0;
			padding: 0;
			display: none;
			li {
				display: vertical;
				list-style-type: none;
				padding-bottom: 20px;
				a {
					font: {
						family: 'MenschMenschRegular';
						size: 3em;
					}
					color: $darkBlue;
				}
				a:hover {
					color: $red;
				}
			}
		}
		ul.instrumentTheme {
			position: absolute;
			top: 290px;
			margin: 0;
			padding: 0;
			li {
				display: vertical;
				list-style-type: none;
				padding-bottom: 20px;
				a {
					font: {
						family: 'MenschMenschRegular';
						size: 3em;
					}
					color: $darkBlue;
				}
				a:hover {
					color: $red;
				}
			}
		}
		#featureReceiver {
			position: absolute;
			top: 350px;
			margin: 0;
			padding: 0;
			li {
				display: vertical;
				list-style-type: none;
				padding-bottom: 20px;
				a {
					font: {
						family: 'MenschMenschRegular';
						size: 3em;
					}
					color: $darkBlue;
				}
				a:hover {
					color: $red;
				}
			}
		}
		
		#messageReceiver {
			display: none;
		}
	}
}

.loop {
	.showcaseGuitar {
		position: absolute;
		top: 200px;

		h2 {
			position: absolute;
			top: -30px;
			left: 23px;
			width: 700px;
			color: $lightBlue;
			font-size: 3em;
		}
	}
	
	//Roundabout general declerations
	.roundabout-holder {
		position: absolute;
		list-style: none;
		padding: 0;
		margin: 0;
		height: 600px;
		top: 50px;
	}
.spinner {
	width: 650px;
	margin-left: 60px;
	position: absolute;
	.roundabout-moveable-item {
		width: auto;
		cursor: pointer;
		img {
			height: 25em;
		}
		h3 {
		font-family:'MenschMenschRegular';
		position: absolute;
		font-size: 2em;
		color: $darkBlue;
		position: absolute;
		left: 116px;
		}	
	}
	.roundabout-in-focus {
		cursor: auto;
		height: 600px;
	    h3 {
		    position: absolute;
			color: red;
			font-size: 3em;
			left: 116px;
		}
	}
}
}
.showcaseTheme {
	position: absolute;
	top: 270px;
	left: 60px;
	width: 700px;
	height: 650px;
	h2 {
		position: absolute;
		top: -58px;
		left: -36px;
		width: 800px;
		color: $lightBlue;
		font-size: 3em;
	}
	.spinnerTheme {
			top: -20px;
		img {
			height: 20em;
			width: auto;
	}
		.roundabout-in-focus {
			h3 {
				color: red;
			}
		}
	}
}
.showcaseTheme h3 {
	color: $darkBlue;
	font-size: 1.9em;

}

h3#choiceReceiver {
	font-size: 2.3em;
	color: $darkBlue;
	position: absolute;
	left: 23px;
	top: 170px;
}

#cart_sidebarReceiver {
	position: absolute;

}

h3#messageReceiver2 {

}