$orange: #DE6B3F;
$red: red;
$brightGreen: #1DDF00;
$darkBlue: #006BEA;
$lightBlue: #00FFEF;
$darkPink: #FF00F4;
$white: white;


div#store-page a {
	font-family: 'Ovo', serif;
	text-decoration: none;
}

#store-page {
	position: relative;
	width: 100%;
	height: auto;
	top: 0px;
	padding: 0;
		h, h1, h2, h3 {
			font: {
				family: 'MenschMenschRegular';
				weight: normal;
				style: normal;
			}
			margin: 0;
			padding: 0;
			line-height: 1em;
	}
	p, p1, p2, p3 {
		font: {
			family: 'Ovo', serif;
			weight: normal;
			style: normal;
		}
	}
	.tabs {
		margin-left: 20px;
		h2 {
			font-size: 1.3em;
			color: white;
			top: 5px;
			padding: 18px 0 2px 5px;
		}
		h2.chooseInstrument {
			margin-top: 20px;
		}
		h1 {
			color: 
				darken($darkBlue, 0%);
			font: {
				size: 4em;
				weight: normal;
			}
		}
		ul {
			margin: 40px 0 0 5px;
			padding: 0;
			li {
				display: vertical;
				list-style-type: none;
				padding-right: 20px;
				margin-top: 20px;
				a {
					font: {
						family: 'MenschMenschRegular';
						size: 3em;
					}
					line-height: .5em;
					color: $darkBlue;
				}
				a:hover {
					color: $red;
				}
			}
		}
	}
}