
<div class="edit">
    <h2>Edit Product Detail View</h2>
    <span><h3><%= link_to 'List', products_path %> |
     <%= link_to 'View Detail', product_path(@product) %></h3></span>
    <div class="form">

        <%= render 'form' %>
      </div><!-- form -->
</div> <!-- edit -->

