
<% list_o_products = Product.all %>
    <fieldset class="new">
      <h1>New Product</h1>
<span><h3><%= link_to 'List', products_path %></h3></span>


        <%= render 'form' %>

</fieldset>
<br />

