<h3>Editing feature</h3>
<p><%= link_to '<- Back to List', features_path %></p>
<%= render 'form' %>
<p>
  <b>Options</b><br />
  <% @list.each do |l| %>
    <%= l.description %><br />
  <% end %>
</p>

<%= link_to 'Back', features_path %>
