<fieldset id="custom_build">
  <h3>Step 7: Choose Accessories</h3>
    <% @features.each do |feature| %>
    <ul>
        <li><h3 id="feature" value="1000"><%= feature.name %></h3></li>
        <% feature.name.gsub!(" ", "-") %>
        <li><%= render 'feature_options', feature: feature %></li>
    </ul>
    <% end %>
</fieldset>