<ul class="instrumentStart">
  <li class="tabClick1">
    <%= link_to "Guitar", {action: 'new', instrument: 'guitar'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Bass", {action: 'new', instrument: 'bass'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Custom", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
</ul>
