<h3>Choose <%= @step %></h3>
<% @features.each do |feature| %>
  <ul>
    <li>
      <%= image_tag feature.image_url %>
    </li>
    <li>
      <ul>
          <li><h4 id="feature" value="1000"><%= feature.name %></h4></li>
          <% feature.name.gsub!(" ", "-") %>
          <li><%= render 'feature_options', feature: feature %></li>
      </ul>
    </li>
  </ul>
<% end %>


