<div class="pricingWrapper">
<h3 class="choose">Choose <%= @step %></h3>
<% @features.each do |feature| %>
  <ul class="featureWrapper">
    <li class="featureTitle">
      <h4 class="feature" value="1000"><%= feature.name %></h4>
    </li>
    <li class="featureImage">
      <%= image_tag feature.image_url %>
    </li>
    <% feature.name.gsub!(" ", "-") %>
    <li class="featureOptions">
      <%= render 'feature_options', feature: feature %>
    </li>
  </ul>
<% end %>
</div>

