<div id="store-page">
  <%= render 'store_breadcrumbs' %>
  <%= render 'store_breadcrumbs_post' %>
  <div class="tabs">
    <h1>Custom Build an Instrument</h1>
    <%= render 'choose_instrument' %>
    <h2>Step 2: Choose Body Type</h2>
    <h2>Step 3: Choose Wood</h2>
    <h2>Step 4: Choose Paint</h2>
    <h2>Step 5: Choose Neck</h2>
    <h2>Step 6: Choose Electronics</h2>
    <h2>Step 7: Choose Accessories</h2>    
  </div>
</div>