<div id="store-page">
  <div class="tabs">
    <h1 class="storeHeader">Custom Build an Instrument</h1>
    <h2 class="chooseInstrument">Step 1: Choose an instrument</h2>
    <%= render 'choose_type' %>
  </div>
</div>









<script>

$(document).ready(function() {
  $(header).animate({
    top: '-=109',
  }, 2500);
});

</script>
