<div id="store-page">
  <div class="tabs">
    <h1>Custom Build an Instrument</h1>
    <h2 class="chooseInstrument">Step 1: Choose an instrument</h2>
    <div id="chooseType"><%= render 'choose_type' %></div>
    <h2 class="chooseBodyType">Step 2: Choose a body style</h2>
    <div id="chooseBody"><%= render 'choose_body' %></div>
    <h2 class="chooseTheme">Step 3: Choose a theme</h2>
    <div id="themeReceiver"></div>
    <div id="cart_sidebarReceiver"></div><!-- money/totals/minicart -->
    <h2 class="chooseOptions">Step 4: Choose your Configuration</h2>
    <div id="featureReceiver"></div>                                               <!-- BIG LIST -->
  </div>
</div>


