  
<div id="store-page">
    <div class="tabs">
      <h1 class="instrument">Custom Build an Instrument</h1>
    </div> <!-- tabs --> 
    
    <div class="loop">
      <% @themes.each do |t| %>
        <div class="showcase<%= t.name %>">
          <h2> Choose a <%= t.name %> Theme </h2>
          <div class="spinner">
          <% @themes.each do |p| %>
              <%  spinner = "spinner#{t.name}" %>
                <%= render 'themecase', p: p %>
            <% end %> 
          </div> 
        </div> <!-- showcase -->
      <% end %>
    </div> <!-- loop -->

</div> <!-- page -->