  <%= render 'layouts/main_navbar' %>
<div id="store-page">

      <h1 class="instrument">Custom Build an Instrument</h1>

    <div class="closed_box">You have chosen the <%= @theme.name.capitalize %> Theme</div>
    <%= render 'showcase' %>
</div> <!-- store-page -->