<div class="adminHeaderBackground fixed">

	<h1 id="fittext1" class="headerText">
		<%= link_to 'Electric Candyland', controller: 'main', action: 'index' %>
	</h1>

		<%= render 'admins/main_menu' %>
    
			<li id="storeNavClick" class="lastLi navLi">
				<h2>
				<%= link_to "LogOut",{ controller: 'main', action: 'index'}, :id => "storeClick" %>
				</h2>
			</li>
		</ul>
		
</div>
<div class="topLine"></div>


