<% t = Time.now %>
<div id="side">
    <ul>
      <li id="timer"><%= t.to_formatted_s(:custom) %></li>
      <div id="cart">
          <li>
            <% if @cart %>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
              <% end  %>
            <% end  %>
          </li>
      </div>
    </ul>

</div>